.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #c0bebb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* CARD */
.card-header {
  font-weight: 800;
  font-size: 18pt;
}

.list-group {
  font-size: 14pt;
}

.ButtonCard {
  margin-bottom:15px
}

.ColListGroupItem {
    margin-top:21px
}

.list-group-item {
  text-align: left;
}

/******************************/

.form-check-label {

   font-size: 14pt;
}


.nav-link {
  font-size: 14pt;
}


.panel-votes {
  color: #fff;
  background-color: #df4b0a;
  font-size:10pt;
  margin-left: 30px;
}


  .nav.nav-tabs .nav-item .active.nav-link:hover{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer; 
  }

    .nav.nav-tabs .nav-item .active.nav-link{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer; 
  }

    .nav.nav-tabs .nav-item .nav-link:hover{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer;
      /* background-color: :  */
  }





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
