.App {
  text-align: center;

}


.App-header {
  background-color: #c0bebb;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  padding-top: 3%;
  min-height: 790px;
}


/* CARD */
.card-header {
  font-weight: 800;
  font-size: 18pt;
}

.list-group {
  font-size: 14pt;
}

.ButtonCard {
  margin-bottom:15px
}

.ColListGroupItem {
    margin-top:21px
}

.list-group-item {
  text-align: left;
}

/******************************/

/*Combo Login*/
.w-25.h-25.rounded-top.rounded-bottom.img-login {

  margin-top: 10px;
}

/*Menu Login*/

.text-login-authed {

  padding-right:8px
}
  .rounded-top.rounded-bottom.img-login-authed {
 width: 30px;
 height:  30px;
}


.form-check-label {

   font-size: 14pt;
}


.nav-link {
  font-size: 14pt;
}


.panel-votes {
  color: #fff;
  background-color: #df4b0a;
  font-size:10pt;
  margin-left: 30px;
}


  .nav.nav-tabs .nav-item .active.nav-link:hover{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer; 
  }

    .nav.nav-tabs .nav-item .active.nav-link{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer; 
  }

    .nav.nav-tabs .nav-item .nav-link:hover{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer;
      /* background-color: :  */
  }





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
