.App {
  text-align: center;

}


.App-header {
  background-color: #c0bebb;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  position:static;
  padding-top: 5%;
  min-height: 790px;
}

.loading {
  height: 5px;
  background-color: #ff5a00;
  position: fixed;
  top: 0;
  z-index: 100;
}

/* CARD */
.card-header {
  font-weight: 800;
  font-size: 18pt;
}

.list-group {
  font-size: 14pt;
}

.ButtonCard {
  margin-bottom:15px
}

.ColListGroupItem {
    margin-top:21px
}

.list-group-item {
  text-align: left;
}

.no-question {
  align-self: center;
}

/******************************/


@keyframes fadeInImg {
   from { opacity: 0}
    to { opacity: 1}
}


.img-loading {
  opacity: 0;
  width: 100%;
  height: auto;
}
 
.img-loaded{
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}
 



/*Combo Login*/
.w-25.h-25.rounded-top.rounded-bottom.img-login {
  margin-top: 10px;
}

/*Menu Login*/
.text-login-authed {
  padding-right:8px
}

.rounded-top.rounded-bottom.img-login-authed {
 width: 30px;
 height:  30px;
}


.form-check-label {
   font-size: 14pt;
}

.nav-link {
  font-size: 14pt;
}

.icon-vote {
  background-color: #df4b0a;
}



  .nav.nav-tabs .nav-item .active.nav-link:hover{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer; 
  }

    .nav.nav-tabs .nav-item .active.nav-link{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer; 
  }

    .nav.nav-tabs .nav-item .nav-link:hover{
       font-size: 14pt;
       color: #df4b0a;
       cursor: pointer;
      /* background-color: :  */
  }





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
